In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive


**Importing Dependencies**

In [2]:
import pandas as pd
import numpy as np
import csv
import random

**Assign Directory**

In [3]:
abandoned_ndvi = pd.read_csv('/content/drive/MyDrive/CSV_fyp/abandoned/ndvi_yala_abandoned_2022_dataset.csv')
abandoned_lswi = pd.read_csv('/content/drive/MyDrive/CSV_fyp/abandoned/lswi_yala_abandoned_2022_dataset.csv')

cultivated_ndvi = pd.read_csv('/content/drive/MyDrive/CSV_fyp/cultivated/ndvi_yala_cultivated_2022_dataset.csv')
cultivated_lswi = pd.read_csv('/content/drive/MyDrive/CSV_fyp/cultivated/lswi_yala_cultivated_2022_dataset.csv')

## **Pre-processing**

In [4]:
# drop the label columns in both dataframes
# axis 1 to drop columns
abandoned_ndvi_values = abandoned_ndvi.drop(['label'],axis=1)
abandoned_lswi_values = abandoned_lswi.drop(['label'],axis=1)

cultivated_ndvi_values = cultivated_ndvi.drop(['label'],axis=1)
cultivated_lswi_values = cultivated_lswi.drop(['label'],axis=1)

In [6]:
abandoned_ndvi_values.head()

,day0,day9,day18,day27,day36,day45,day54,day63,day72,day81,day90,day99,day108,day117,day126,day135,day144,day153,day162,day171
0,0.63,0.65,0.70,0.68,0.68,0.69,0.69,0.70,0.69,0.61,0.58,0.53,0.61,0.65,0.68,0.64,0.59,0.57,0.56,0.56
1,0.63,0.66,0.71,0.69,0.69,0.70,0.70,0.71,0.70,0.60,0.58,0.53,0.61,0.65,0.67,0.64,0.59,0.57,0.56,0.55
2,0.60,0.67,0.72,0.68,0.68,0.69,0.69,0.70,0.69,0.59,0.58,0.54,0.64,0.64,0.66,0.64,0.59,0.57,0.56,0.54
3,0.59,0.67,0.72,0.67,0.67,0.68,0.68,0.71,0.70,0.59,0.56,0.54,0.64,0.65,0.67,0.63,0.59,0.57,0.55,0.53
4,0.59,0.66,0.70,0.67,0.67,0.67,0.67,0.70,0.70,0.59,0.55,0.54,0.63,0.65,0.66,0.61,0.59,0.58,0.56,0.53

In [7]:
abandoned_lswi_values.head()

,day0,day8,day17,day26,day34,day43,day52,day60,day69,day78,day86,day95,day104,day112,day121,day130,day138,day147,day156,day165
0,0.34,0.35,0.35,0.35,0.36,0.33,0.31,0.28,0.26,0.24,0.22,0.21,0.24,0.27,0.30,0.3,0.28,0.26,0.24,0.14
1,0.34,0.35,0.35,0.35,0.36,0.33,0.31,0.28,0.26,0.24,0.22,0.21,0.24,0.27,0.30,0.3,0.28,0.26,0.24,0.14
2,0.34,0.35,0.35,0.35,0.36,0.33,0.31,0.28,0.26,0.24,0.22,0.21,0.24,0.27,0.30,0.3,0.28,0.26,0.24,0.14
3,0.34,0.35,0.35,0.35,0.36,0.33,0.31,0.28,0.26,0.24,0.22,0.21,0.24,0.26,0.29,0.3,0.28,0.26,0.24,0.14
4,0.34,0.35,0.35,0.35,0.36,0.33,0.31,0.28,0.26,0.23,0.22,0.20,0.23,0.26,0.29,0.3,0.28,0.26,0.24,0.13

In [8]:
# dataframe with only column to np array
abandoned_ndvi_array = np.array(abandoned_ndvi_values)
abandoned_lswi_array = np.array(abandoned_lswi_values)

cultivated_ndvi_array = np.array(cultivated_ndvi_values)
cultivated_lswi_array = np.array(cultivated_lswi_values)

In [9]:
print('ab ndvi -',len(abandoned_ndvi_array))
print('ab lstw -',len(abandoned_lswi_array))
print('cu ndvi -',len(cultivated_ndvi_array))
print('cu lstw -',len(cultivated_lswi_array))

ab ndvi - 4758
ab lstw - 4800
cu ndvi - 12008
cu lstw - 11680

In [10]:
number_of_rows_abandoned = len(abandoned_ndvi_array) if len(abandoned_ndvi_array) <= len(abandoned_lswi_array) else len(abandoned_lswi_array)
number_of_rows_cultivated = len(cultivated_ndvi_array) if len(cultivated_ndvi_array) <= len(cultivated_lswi_array) else len(cultivated_lswi_array)

print('ab',number_of_rows_abandoned)
print('cu',number_of_rows_cultivated)

ab 4758
cu 11680

### **Re-arranging data as [NDVI,LSWI] pairs**

#### **Abandoned Paddy Lands**

In [11]:
abandoned_ndvi_lswi_all_pixels=[]

for i in range(number_of_rows_abandoned):

  abandoned_ndvi_lswi_single_pixel=[]

  for j in range(len(abandoned_ndvi_array[i])):

    ndvi_lswi_per_day=[abandoned_ndvi_array[i][j],abandoned_lswi_array[i][j]]

    abandoned_ndvi_lswi_single_pixel.append(ndvi_lswi_per_day)

  abandoned_ndvi_lswi_all_pixels.append(abandoned_ndvi_lswi_single_pixel)

#### **Cultivated Paddy Lands**

In [12]:
cultivated_ndvi_lswi_all_pixels=[]

for i in range(number_of_rows_cultivated):

  cultivated_ndvi_lswi_single_pixel=[]

  for j in range(len(cultivated_ndvi_array[i])):

    ndvi_lswi_per_day=[cultivated_ndvi_array[i][j],cultivated_lswi_array[i][j]]

    cultivated_ndvi_lswi_single_pixel.append(ndvi_lswi_per_day)

  cultivated_ndvi_lswi_all_pixels.append(cultivated_ndvi_lswi_single_pixel)

### **Randomising Data**

**Function to generate Random Indices**

In [13]:
def generate_random_indices(number_of_rows):
  number_of_samples = 1000

  # array with 1000 random indices from 0 to length of data array
  random_indices = []

  while len(random_indices)<number_of_samples:

    # generating random number
    rand = random.randint(0,number_of_rows-1)

    # if generated number is not in the indices array then add to indices array
    if rand in random_indices:
      pass
    else:
      random_indices.append(rand)

  return random_indices

**Generating Random Indices**

In [14]:
abandoned_random_indices = generate_random_indices(number_of_rows_abandoned)
cultivated_random_indices = generate_random_indices(number_of_rows_cultivated)

print('ab -',len(abandoned_random_indices))
print('cu -',len(cultivated_random_indices))

ab - 1000
cu - 1000

**Create arrays with randomised Datapoints**

In [15]:
X = []
Y = []
for i in abandoned_random_indices:
  X.append(abandoned_ndvi_lswi_all_pixels[i])
  Y.append([0])

for j in cultivated_random_indices:
  X.append(cultivated_ndvi_lswi_all_pixels[j])
  Y.append([1])

**Analyse the Processed Data**

In [16]:
print(np.array(X).shape)

(2000, 20, 2)

In [22]:
print(X[0:1])

[[[0.58, 0.34], [0.6, 0.36], [0.66, 0.34], [0.64, 0.33], [0.64, 0.32], [0.65, 0.31], [0.65, 0.3], [0.7, 0.29], [0.72, 0.29], [0.61, 0.28], [0.61, 0.27], [0.54, 0.26], [0.62, 0.28], [0.61, 0.29], [0.62, 0.3], [0.6, 0.31], [0.58, 0.29], [0.56, 0.27], [0.54, 0.25], [0.52, 0.04]]]

In [17]:
print(np.array(Y).shape)

(2000, 1)

In [23]:
print(Y[0:1])

[[0]]